@model UserModel
<div class="card">
    <div class="card-body">
       
            <h5 class="card-title">@((Model.UserID>0)?"Edit":"Add New") User</h5>       

        <!-- Multi Columns Form -->
        <form class="row g-3" asp-controller="User" asp-action="UserSave" method="post">
            @Html.HiddenFor(x=>x.UserID)
            <div class="col-md-6">
                <label class="form-label" asp-for="UserName">User Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Email" class="form-label">Email<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Password" class="form-label">Password<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="MobileNo" class="form-label">Mobile No<span class="text-danger">*</span></label>
                <input type="number" class="form-control" asp-for="MobileNo">
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Address" class="form-label">Address<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="isActive" class="form-label">Is Active<span class="text-danger">*</span></label>
                <select class="form-control" asp-for="isActive" asp-items="@(new SelectList(new []{"True", "False"}))">
                    <option value="">Select </option>
                </select>
                <span asp-validation-for="isActive" class="text-danger"></span>
            </div>

            <div class="text-center">
                @if (Model.UserID == null || Model.UserID == 0)
                {
                    <button type="submit" class="btn btn-outline-primary">Add New User</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-success">Update User</button>
                }
            </div>
        </form>
    </div>
</div>

