@model BillsModel


<div class="card">
    <div class="card-body">
        @if (Model.BillID== null || Model.BillID== 0)
        {
            <h5 class="card-title">Add New Bill</h5>
        }
        else
        {
            <h5 class="card-title">Edit Bill</h5>
        }

        <!-- Multi Columns Form -->
        <form class="row g-3" asp-controller="Bills" asp-action="BillSave" >
            @Html.HiddenFor(m=>m.BillID)
            <div class="col-md-6">
                <label class="form-label" asp-for="BillNumber">Bill Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="BillNumber" />
                <span asp-validation-for="BillNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="BillDate" class="form-label">Bill Date<span class="text-danger">*</span></label>
                <input type="date" class="form-control" asp-for="BillDate" placeholder="dd/mm/yyyy">
                <span asp-validation-for="BillDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="OrderID">Order Number<span class="text-danger">*</span></label>
                <select class="form-control" asp-for="OrderID" asp-items="@(new SelectList(ViewBag.OrderList,"OrderID","OrderNumber"))">
                    <option>Select Order Number</option>
                </select>
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="TotalAmount" class="form-label">Total Amount<span class="text-danger">*</span></label>
                <input type="number" class="form-control" asp-for="TotalAmount">
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Discount" class="form-label">Discount<span class="text-danger">*</span></label>
                <input type="number" class="form-control" asp-for="Discount">
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="NetAmount" class="form-label">Net Amount<span class="text-danger">*</span></label>
                <input type="number" class="form-control" asp-for="NetAmount">
                <span asp-validation-for="NetAmount" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="UserID" class="form-label">User Name<span class="text-danger">*</span></label>
                <select class="form-control" asp-for="UserID" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                    <option value="">Select User</option>
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="text-center">
                @if (Model.BillID == null || Model.BillID == 0)
                {
                    <button type="submit" class="btn btn-outline-primary">Add New Bill</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-success">Update Bill</button>
                }
            </div>
        </form>
    </div>
</div>