@model Coffee_Shop.Models.ProductModel

<div class="card">
    <div class="card-body">
       
        <h5 class="card-title">@((Model.ProductID > 0) ? "Edit" : "Add New") Product</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" method="post" asp-action="ProductSave" asp-controller="Product">
            @Html.HiddenFor(x=>x.ProductID)
            <div class="col-md-6">
                <label asp-for="ProductName" class="form-label">Product Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="ProductName">
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ProductPrice" class="form-label">Product Price<span class="text-danger">*</span></label>
                <input type="number" class="form-control" asp-for="ProductPrice">
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ProductCode" class="form-label">Product Code<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="ProductCode">
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Description" class="form-label">Description<span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="UserID" class="form-label">User Name<span class="text-danger">*</span></label>
                <select class="form-control" asp-for="UserID" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                    <option value="">Select User</option>
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="row">

                @if (Model.ProductID == null || Model.ProductID == 0)
                {
                    <button type="submit" class="btn btn-outline-success mt-3 me-3 col-2">Add Product</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-success mt-3 me-3 col-2">Update Product</button>
                }
                <a asp-action="ProductList" asp-controller="Product" class="btn btn-outline-warning mt-3 col-2">Back To List</a>
            </div>

        </form><!-- End Multi Columns Form -->

    </div>
</div>

